body {
	color: #4f4f4f;
    font-family: Georgia;
}

ul > li {
	display: inline;
	margin: 0px;
	padding: 5px;
}

#titleBanner {
	background-color: black;
	padding-top: 2px;
	padding-bottom: 2px;
}

a {
	text-decoration: none;
	color: #4f4f4f;
}
.titleBan a {
	color: #e2e3e1;
	font-family: Verdana;
}
.titleBan > li > a:hover {
	color: white;
}

.mainPage {
	padding-left: 10px;
	padding-right: 10px;
}

.mainPage p {
	text-align: center;
	padding-bottom: 5px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	text-align: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
	padding: 5px;
	margin: 10px;
}


.grid-container .grid-child-one {
	text-transform: uppercase;
	color: red;
	text-align: left;

}

.grid-container a {
	color: black;
	font-size: 14px;
}

.grid-container a:hover {
	color: red;
	text-decoration: underline;
}

.date_motto_weather {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 12px;
	vertical-align: text-bottom;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.date_motto_weather .motto {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.date_motto_weather .weather {
	text-align: right;
}

.weather img {
	vertical-align: text-top;
}

.news_top {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
		"break_news1 politics1 eco1"
		"break_news2 politics1 eco2"
		"break_news3 politics2 eco3";
	/*border:  1px solid black;*/
}

.politics1 {
	grid-area: politics1;
}

.news_top div {
	/*border:  1px solid black;*/
	padding: 15px;
	margin: 10px;
	border-bottom: 1px solid #d3dceb;
	
}

.news_top div .politics1{
	padding: 25px;
}


.news_top div .title {
	text-align: left;
	font-weight: bold;
	font-size: 16px;
}

.news_top div .author {
	font-size: 11px;
	text-align: left;
}

.news_top div .news {
	text-align: left;
	font-size: 16px;
}

